<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= artistas.nombre %> </title>
</head>
<body>    
    <h1><%= artistas.nombre %> <%= artistas.apellido %></h1>
    <br>
    <p>genero: <%=artistas.genero %> </p>
    <a  href="/artistas">volver al listado</a>
    
    <nav>
        <button><a href="/artistas/editar/<%= artistas.id %>">Editar</a></button>
    </nav>
    <form method="POST" action="/artistas/eliminar/<%= artistas.id %>?m=DELETE" >
        <button type="submit">Eliminar</button>
    </form>

</body>
</html>